body{
    color: white
}

img{
    height: 100px;
    width: 100px;
    right:0pxn
}

.article-holder{
    border-top: 1px solid gray;
    margin-top: 30px
}
.article-holder:hover{
    background-color: gray;
}

