@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Nunito:wght@600&family=Trykker&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Trykker', serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -.1px;
    line-height: 20px;
    margin: 0;
}

.header {
    font-family: 'Arsenal', sans-serif;

}
.sub-header {

    font-family: 'Nunito', sans-serif;
}
