.navbar {
  padding: 0.25rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
a {
  font-size: 20px;
  margin-left: 20px;
}
.svg-container{
  padding: 0 10px 0 5px
}

.navbar__nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  height: 45px;
}

.profile-btn-div {
  display: flex;
  justify-content: flex-end;
}

.navbar__nav-links--navlink {
  padding: 0.25rem;
  font-size: 1.25rem;
}

.profile-dropdown {
  list-style: none;
  padding: 1rem;
}

.auth-btns {
  list-style: none;
  display: flex;
}

a{
	color: white;
	display:inline-block;
}
